<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <nav class="menu">
        
        <a href="/"><label for="" class="logo">🫁ejercicios respiratorios</label></a>
        <ul class="menu-opc">
            <li>
                <a href="/">Home </a>
            </li>

            <li>
                <a href="/login">Login </a>
            </li>
            <li>
                <a href="/registro">Registro </a>
            </li>
        </ul>
        
    </nav>
    
    {% block content %}
    
    {% endblock %}
</body>
</html>